.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}

.navbar .logo{
    width: 150px;  
}

.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button{
    padding: 10px 30px;
    background-color: transparent;
    border: 1px solid tomato;
    border-radius: 50px;
    color: #49557e;
    font-size: 16px;
    cursor: pointer;
}

.navbar button:hover{
    background-color: tomato;
    color: white;
    transition: all 0.3s ease-in-out;
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid tomato;
}

.navbar li{
    cursor: pointer;
}

.navbar-search-icon{
    position: relative;

}
.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top:-8px;
    right:-8px;
}

.navbar-profile{
    position: relative;
}

.navbar-profile .profileImg{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.nav-profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}


.navbar-profile:hover .nav-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #48484a;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid tomato;
    outline: 2px solid white;
    list-style: none;
}

.nav-profile-dropdown li{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: white;
}

.nav-profile-dropdown li:hover{
    color: tomato;
}

.nav-profile-dropdown img{
    width: 20px;
}

.notif-container {
  position: relative;
  cursor: pointer;
}

.notification-icon {
  width: 30px;
}

.notif-badge {
  position: absolute;
  top: -4px;
  right: -4px;
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
}

.notif-dropdown {
  position: absolute;
  top: 35px;
  right: 0;
  width: 220px;
  background: #48484a;
  color: white;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid tomato;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 999;
}

.notif-item {
  background: #333;
  padding: 8px;
  border-radius: 4px;
  border-left: 3px solid tomato;
  font-size: 14px;
}

.notif-item:hover {
  background: #3e3e3e;
}

.no-notif {
  text-align: center;
  opacity: 0.7;
}


@media (max-width:1050px){
    .navbar .logo{
        width: 140px;  
    }
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right button{
        padding: 8px 25px;
    }

}


@media (max-width:750px){
    .navbar-menu{
        display: none;
    }

}