.update-info-form{
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start;     
    padding: 20px;
}

.update-user-group{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 4px;
}
.update-user-group label{
    width: 40px;
    height: 70px;
    font-size: 1rem;
}
.update-user-group input{
    border: none;
    background-color: transparent;
    outline: none;
    padding: 2px;
    font-size: 1rem;
}

.update-form .update-btn{
    margin-top: 20px;
    border: none;
    background-color: tomato;
    color: white;
    height: 50px;
    width: 253px;
    border-radius: 4px;
    cursor: pointer;
}


.update-form .update-btn:hover{
    background-color: #070707;
}

@media (max-width:750px){

    .update-info-form{
        justify-content: center;
        align-items: center;
    }
    .update-info{
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        width: 83vw; 
    }
}